/* ----
Gameboy classic color palette:
	#0f380f darkest
	#306230
	#8bac0f
	#9bbc0f lightest
---- */

@font-face {
	font-family: Metrickal;
	src: url(../fonts/Metrickal-Regular.otf);
}

* {
	box-sizing: border-box;
}

body {
	background: #bbb;
	font-family: "Metrickal", serif;
	font-size: 12px;
	margin: auto;
	color: #306230;
}

h1, h2, h3, strong, u, a {
	font-size: 12px;
	color: aqua;
}

.ui_menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#map_container,
#log_container,
#sidebar_container {
	display: none;
}

#game_container {
	background: #222;
	margin: 2rem auto;
	width: 900px;
	height: 600px;
	border: 1px solid #bbb;
	box-shadow: 0 0 4px #000;
}

#log_container {
	background: #111;
	color: #ddd;
	font-size: 10px;
	height: 118px;
	margin: -3px 0 0;
	border-top: 1px solid #bbb;
	padding: 0.4rem 0.2rem 0.2rem;
	overflow: auto;
}

#log_container p {
	margin: 0;
	padding: 0 0.2rem 0 0.2rem;
	overflow: hidden;
}

#sidebar_container {
	float: right;
	background: #111;
	width: 310px;
	height: 476px;
	border-left: 1px solid #bbb;
	padding: 1rem 1rem 0 1rem;
	color: #ddd;
}

#sidebar_container p, #subscreen_container p {
	margin: 0 0 1rem 0;
	padding: 0;
	overflow: hidden;
}

#map_container {
	display: block;
}

#subscreen_container {
	width: 898px;
	height: 596px;
	position: absolute;
	margin-top: 1px;
	z-index: 2;
	/*background: #222;*/
	/*opacity: 0.95;*/
	padding: 32px;
	color: #ccc;
	display: none;
}

#subscreen_container table {
	width: 100%;
}

#subscreen_container td {
	padding-right: 0.4rem;
}


#subscreen_title,
#subscreen_about,
#subscreen_test_menu
{
	display: none;
}

#subscreen_title_content {
	width: 830px;
	height: 6rem;
	position: absolute;
	margin-top: 400px;
	padding: 1.2rem 1rem;
	z-index: 3;
	background: #000;
	opacity: 0.7;
	color: deepskyblue;
	text-align: center;
}


#subscreen_about_content{
	width: 20rem;
	/*height: 480px;*/
	/*margin: 0;*/
	position: absolute;
	margin: 0;
	border: 1px solid red;
	padding: 1.2rem 1rem;
	z-index: 3;
	background: #000;
	opacity: 0.9;
}


#subscreen_test_menu {
	width: 240px;
	background: #004;
	padding: 0.8rem;
	border: 2px solid #bbb;
	box-shadow: 0 0 4px #000;
	position: relative;
	top: 330px;
}


.hidden {
	display: none;
}

.ascii_art {
	margin: 0;
	width: 210px;
	font-size: 8px;
	letter-spacing: 3px;
	line-height: 12px;
	cursor: default;
}


#crystal_ascii_art_container {
	width: 898px;
	height: 596px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
}

#crystal_ascii_art_container pre {
	font-size: 6px !important;
	line-height: 10px;
	margin-left: -330px;
}

#rumorsmatrix_ascii_art_container {
	width: 898px;
	height: 596px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
}

.currency_gold {
	color: #FFD700;
}
