/* ----
Gameboy classic color palette:
	#0f380f darkest
	#306230
	#8bac0f
	#9bbc0f lightest
---- */

@font-face {
	font-family: Metrickal;
	src: url(../fonts/Metrickal-Regular.otf);
}

* {
	box-sizing: border-box;
}

body {
	background: #333;
	font-family: "Metrickal", serif;
	font-size: 12px;
	margin: auto;
	color: #306230;
}

h1, h2, h3, strong, u {
	font-size: 12px;
	color: #9bbc0f;
}

#game_container {
	background: #222;
	margin: 1rem auto;
	width: 800px;
	height: 600px;
	border: 1px solid #bbb;
	box-shadow: 0 0 4px #000;
}

#header_container {
	height: 24px;
	background: #999;
	color: #111;
	line-height: 24px;
	padding-left: 0.5rem;
	border-bottom: 1px solid #bbb;
}

#log_container {
	background: #111;
	color: #ddd;
	font-size: 10px;
	height: 98px;
	margin: -3px 0 0;
	border-top: 1px solid #bbb;
	padding: 0.4rem 0.2rem 0.2rem;
	overflow: auto;
}

#log_container p {
	margin: 0;
	padding: 0 0.2rem 0 0.2rem;
	overflow: hidden;
}

#sidebar_container {
	float: right;
	background: #111;
	width: 210px;
	height: 476px;
	border-left: 1px solid #bbb;
	padding: 1rem 1rem 0 1rem;
	color: #ddd;
}

#sidebar_container p, #subscreen_container p {
	margin: 0 0 1rem 0;
	padding: 0;
	overflow: hidden;
}

#map_container {
	display: block;
}

#subscreen_container {
	width: 660px;
	height: 480px;
	position: absolute;
	margin: 64px;
	z-index: 2;
	background: #306230;
	opacity: 0.95;
	border: 2px solid #bbbf;
	box-shadow: 0 0 32px #000;
	padding: 32px;
	color: #000;
	visibility: hidden;
}

.hidden {
	display: none;
}
